[user]
	name = Prabhu K H
	email = 25prabhu10@gmail.com
[color]
	ui = auto
[alias]
	a = add
	br = branch
	brs = branch -av
	ci = commit
	cm = commit --message
	co = checkout
	d = diff
	ds = diff --staged
	l = log --pretty=format:'%C(auto)%h {%cr} %Cblue[%cN]%Creset %s %C(auto)%d%Creset' --graph --all
	lg = log --pretty=format:'%Cred%h%Creset - %C(auto)%d%Creset %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=relative
	ll = log --graph --name-status --pretty=format:'%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset' --date=relative
	ls = ls-files
	last = log -1 HEAD
	rank = shortlog -sn --no-merges
	p = push
	re = remote -v
	s = status -sb
	st = status
	unstage = reset HEAD --
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\\t%(color:red)%(authorname)\\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	pf = push --force-with-lease
	bb = !~/Scripts/better-git-branch.sh
[core]
	editor = nvim
[github]
	user = 25prabhu10
[rerere]
	enable = true
[maintenance]
	repo = /home/prabhu
