[user]
	name = Prabhu K H
	email = 25prabhu10@gmail.com
[color]
	ui = auto
[alias]
	a = add
	br = branch
	brs = branch -av
	ci = commit
	cm = commit --message
	co = checkout
	di = diff
	dis = diff --staged
	l = log --pretty=format:'%C(auto)%h %Cgreen%aN%Creset %s %Cgreen(%cr)%C(auto)%d' --graph --all
	lg = log --pretty=format:'%Cred%h%Creset -%C(auto)%d% %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=relative
	ls = ls-files
	last = log -1 HEAD
	rank = shortlog -sn --no-merges
	p = push
	re = remote -v
	s = status -sb
	st = status
	unstage = reset HEAD --
[core]
	editor = vim
[github]
	user = 25prabhu10
